<% provide(:title, "About")%>

<h1>About Sample Application</h1>
  
<p>
  This is <a href="https://rails-tutorial-ibnhatab.c9.io">Sample Application</a> 
  from the <em>Ruby on Rails Tutorial</em> demonstrate following technics:
  <li> Static Pages
  <li> Ruby Language
  
</p>
