<% provide(:title, "Help")%>

<h1>Help</h1>
<p>
  Get help on the Rail Tutorial at the
  <a href="http://www.rubyonrails.org/#help">Rail Tutorial help section</a>
  <em>Ruby on Rails Tutorial</em> book.
</p>
